// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@orange-light: #f0c674;

//eL
@red-bright: #FF0000;

@magenta: #F92672;
@monokai-purple: #AE81FF;
@purple: #FF00FF;
@purple-dark: #800080;

@yellow-dark: #E6DB74;
@yellow: #FFFF00;

@aqua: #00FFFF;
@blue-light: #89BDFF;
@blue-bright: #0000FF;

@black: #000000;
@white: #ffffff;

@green: #23b81c;
@lime: #00FF00;
